html{
	margin: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	height: 100vh;
	position: relative;
	background-color: #000000;
	color: rgba(232, 232, 233, 0.9);
	text-align: center;
}
#container{
	box-shadow: 0px 0px 86px -22px rgba(91,95,110,1);
	margin-top: -396px;
	margin-left: -650px;
	position: fixed;
	left:50%;
	top:50%;
	width: 1300px;
	background-color: #5b5f6e;
	border-radius: 15px;
	border-style: groove;
	text-align: center;
}

#container_data{
	display: inline-block;
}

.info_anim{
	float: left;
	box-shadow: 0px 0px 16px 12px rgba(69,74,92,1);
	background-color:#454a5c;
	border-radius: 15px;
	font-size: 26px;
	width: 270px;
	margin: 20px;
}

.con_for_input{
	float: left;
	background-color:#454a5c;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	border-radius: 15px;
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: 0px 0px 15px 15px rgba(69,74,92,1);
}
.begin{
	float: left;
	margin-left: 15px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #535050;
	background: radial-gradient(ellipse at center, #312b2b 0, #464650, #5b665b 100%);
	-webkit-transition:all 0.3s ease;
	box-shadow: #231f1f;
}
.info{
	font-size: 12px;
	background-color:#454a5c;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#menu{
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	display: inline-block;
	text-align: center;
}
.info1{
	background-color:#454a5c;
	font-size: 14px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: center;
}
#welcome{
	font-size: 28px;
	text-align: center;
	background-color:#454a5c;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	letter-spacing: 2px;
}
#opor_info{
	border-radius: 15px;
	background-color: #454a5c;
}

#main{
	margin: 0px;
}
button{
	box-shadow: inset 0px 0px 5px 3px rgba(69,74,92,1);
	margin: 0px;
	border-radius: 30px;
	text-align: center;
	-webkit-transition:all 0.3s ease;
}
button:hover{
	background-color: #b3d0ff;
}
.value{
	box-shadow: inset 0px 0px 9px 7px rgba(69,74,92,1);
	background-color: white;
	color: #3b3f4e;
	width: 140px;
}
#time{
	width: 250px;
}

.con_for_input > button{
	border-radius: 0px;
	margin: 0px;
}
.input_text{
	box-shadow: inset 0px 0px 5px 3px rgba(69,74,92,1);
	margin: 0px;
	border-radius: 15px;
	text-align: center;
}
.ranger:disabled, #zoom_range:disabled{
	opacity: 0.5;
}
.ranger, #zoom_range{
	margin: 0;
	height:2px;
	margin-bottom:10px;
	margin-top:10px;
	-webkit-appearance: none;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.ranger::-webkit-slider-thumb, #zoom_range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #535050;
	cursor: pointer;
}

.ranger::-moz-range-thumb, #zoom_range::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #535050;
	cursor: pointer;
}
#start_menu{
	float: left;
}