body{
	margin-top: 0px;
	margin-bottom: 0px;
}
#container{
	margin-left: auto;
	margin-right: auto;
	width: 1140px;
	background-color: #a1d966;
	border-radius: 15px;
	border-style: groove;
}

.info_anim{
	float: left;
	background-color:#66c46b;
	border-radius: 15px;
	font-size: 28px;
	width: 240px;
	margin: 20px;
}
.con_for_input{
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
}
.begin{
	float: left;
	margin-left: 15px;
}
.info{
	font-size: 12px;
	background-color:#66c46b;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#menu{
	margin-left: auto;
	margin-right: auto;
	width: 1060px;
}
.info1{
	background-color:#66c46b;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#start{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 250px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}
#welcome{
	font-size: 28px;
	text-align: center;
	background-color:#66c46b;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	letter-spacing: 2px;
}
#opor_info{
	border-radius: 15px;
	background-color: #66c46b;
}
button{
	border-radius: 15px;
	background-color: #59b5d4;
}
button:hover{
	background-color: #b3d0ff;
}
.value{
	background-color: white;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	width: 140px;
}
#time{
	width: 250px;
}
html{
	font-family: 'Caveat', cursive;
	background-color: #ededca;
}