
#tlo_czasteczki{
    position:fixed;
    top:0; left: 0;
    width: 30%;
    height: 100%;
    background-attachment : fixed;
    background: linear-gradient(#0088cc, #000000);
}
#left{
    width: 30%;
    height: 100%;
}
#right{
    min-width: 30%;
    min-height: 100%;
    background: radial-gradient(#e50f3a, #000000);

}
#center{
    width: 60%;
    min-height: 100%;
    background: radial-gradient(#ca0b38, #000000);
}
.szkielet{
    float: left;
    background: black;
}
.clear{
    clear:both;
}

#container{
    padding: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 86px -22px rgba(91,95,110,1);
    -moz-box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.8);
    width: 1200px;
    background: radial-gradient(#231f1f,#454a5c);
    border-radius: 15px;
    border-style: groove;
    border-width: 10px;
    transform: scale(62%);
    transform-origin: top ;}