body {  
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
	background-color: #000000;
}

#container { 					/* Main page style */
    height: 100vh;
}

	#canvas1 {
		position: absolute;
		overflow: hidden;
	}

	#top_footer {
		position: fixed;
		left: 0;
		top: 0;
		text-align: center;
		width: 100vw;
		z-index: 5;
	}

	header ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		
	}

		header li {
			font-size: 5vh;
			width: 100%;
		}

		header a {
			padding: 20px;
			display: block;
			text-decoration: none;
			background: -webkit-linear-gradient(#eee, #333);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	
	#top_footer :hover {
		background-color: rgba(255, 255, 255, 0.1);
	}	


.segment {								/* style of subsite */
	position: relative;
	height: 1100px;
}

	.section {
		padding: 70px 100px 0 100px;
		text-align: justify;
		text-justify: inter-word;
	}

	#canvas2 {
		position: absolute;
		z-index: -1;
	}
	
	#canvas3 {
		position: absolute;
		z-index: -1;
	}



h1 {								/* style of subsite headers */
	font-size: 30px;	
	color: rgba(255, 0, 0, 0.8);
	text-align: center;
}

p {									/* style of subsite text */
	font-size: 24px;
	color: rgba(232, 232, 233, 1);
}


.sticky {							/* style of backgrand when header going	into a text */
	background-color: black;
    z-index: 100;
}




